**/.bundle
**/.byebug_history
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea/*
**/.project
**/.rspec
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/compose*
**/config/master.key
**/coverage
**/docker-compose*
**/Dockerfile*
**/log/*
**/mysql
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/storage/*
**/test
**/tmp/*
**/tmp/pids/*
!/tmp/pids/
**/values.dev.yaml
**/vendor/bundle
**/yarn-error.log
LICENSE
README.md